ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 30px;
    border-bottom: solid 2px;
}

#main-part{
    display: flex;
}
#part-selector-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    font-size: 30px;
    border-right: solid 2px;
}

#part-selector{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    flex-direction: column;
}

#delete-profile{
    margin-top: 20px;
    color: red;
    font-weight: bold;
}

#settings-wrapper{
    width: 80%;
}

.section-title{
    border-bottom: solid 2px;
    font-size: 35px;
    padding: 0.5em;
}

.section-content{
    border-bottom: solid 2px;
    padding-left: 1em;
}

.settings-form{
    font-size: 25px;
    margin: 10px 10px 60px;
}

label{

}
input[type=text], input[type=password]{
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background-color: #eeeeee;
    margin-bottom: 30px;
    margin-top: 5px;
}