.session_panel{
    width: 100%;
}

.foreground_button_wrapper{
    position: relative;
    margin-top: 10%;
}


.get_help_icon{
    padding-right: 2%;
    float: right;
}

.listen_icon{
    padding-left: 2%;
    float: left;
}

.sentence_icon{
    padding-left: 2%;
    float: left;
}

.return_from_sentence_icon{
    padding-left: 2%;
    float: left;
}

.card_foreground{
    justify-content: center;
    align-items: center;
    min-height: 50%;
    min-width: 50%;
    max-width: fit-content;
    max-height: max-content;
    text-align: center;
    margin-right:auto;
    margin-left: auto;
    background-color: #e5e5e5;
    border: solid 2px #505050;
    border-radius: 20px;
    padding: 2%;
    margin-top: 5%;
}

.card_background{
    justify-content: center;
    align-items: center;
    min-height: 50%;
    min-width: 50%;
    max-width: fit-content;
    max-height: max-content;
    text-align: center;
    margin-right:auto;
    margin-left: auto;
    background-color: #e5e5e5;
    border: solid 2px #505050;
    border-radius: 20px;
    padding: 2%;
    margin-top: 5%;
}

.card_example_sentence{
    justify-content: center;
    align-items: center;
    min-height: 50%;
    min-width: 50%;
    max-width: fit-content;
    max-height: max-content;
    text-align: center;
    margin-right:auto;
    margin-left: auto;
    background-color: #e5e5e5;
    border: solid 2px #505050;
    border-radius: 20px;
    padding: 2%;
    margin-top: 5%;
}

.session_target_word{
    font-size: xxx-large;
    font-weight: bolder;
}

.session_source_word{
    font-size: x-large;
    font-weight: bolder;
}

.ex_sentence_divider{
    border-bottom: solid 2px #505050;
}