/**
 * File: character-animation.component.css
 *
 * This file contains the CSS styling for the character drawing animation on the
 * login, register and forgot password screen.
 * Author: Gabor Szolnok
 */

 /**This is the styling that gets resized dynamically.*/
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}

/**Slowly fading in and out in 4 second*/
.fade-in-out {
  animation: fade-in-out-animation 4s infinite;
  position: absolute;
  opacity: 0;
  height: 150px;
}

/**Keyframe used for the fade-in-out animation**/
@keyframes fade-in-out-animation {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/**There is a chance that a character doesn't appear in a period, this style is used for that**/
.switched_off {
  opacity: 0;
  position: absolute;
}

/************
// END of character-animation.component.css
//************/
