audio {
    display: none;
}

.align_buttons{
  position: fixed;
  top: 92%;
  left: 1%;
}

button{
  border: none;
  outline: none;
  padding: 25%;
  border-radius: 15px;
  border:none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 200%;
  cursor: pointer;
  color: black;
}

.options{
  position: fixed;
  top: 92%;
  left: 4%;
}

.music_control:hover{
  background-color: #282828;
  color: white;
}


#icon_play{
  color: white;
  background-color: #068489;
}

#icon_play:hover{
  background-color: #045154;
}



#icon_pause{
  background-color: #e5e5e5;
}

#icon_pause:hover{
  background-color: #282828;
  color: white;
}

@media only screen and (max-width: 1500px){
  .align_buttons{
    top: 90%;
    left: 2%;
  }
  .options{
    top: 90%;
    left: 6%;
  }
}

@media only screen and (max-width: 1000px){
  .align_buttons{
    top: 85%;
    left: 2%;
  }
  .options{
    top: 85%;
    left: 8%;
  }
}

@media only screen and (max-width: 800px){
  .align_buttons{
    top: 85%;
    left: 2%;
  }
  .options{
    top: 85%;
    left: 20%;
  }
}