/*
File: dashboard.component.css
author: Darian Krummrich

*/

/* standard styling of buttons, in blue & gray, and when in spans / containing links */

.s_button{
    border-radius: 20px;
    margin-top: 2%;
    margin-right: 2%;
    padding: 10%;
    text-align: center;
    align-items: center;
    background-color: #068489;
    color: #ffff;
    transition: all 0.5s ease-out;
}



.blue_button{
    background-color: #068489;
    color: #ffff;
}

.blue_button:hover{
    background-color: #045154;
}

.gray_button{
    background-color: #505050;
}

.gray_button:hover{
    background-color: #282828;
}

.button_in_span{
    padding: 25%;
}

#link_button{
    width: fit-content;
    padding: 25%;
}

a:link{
    text-decoration: none;
}

#edit_start{
    align-self: center;
    text-align: center;
    padding: 10%;
}

/* standard cards */

.s_card_wrapper{
    min-width: 75%;
    height: max-content;
    border-radius: 20px;
    padding: 5%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
    margin-bottom: 1%;
}

.s_flex{
    display: flex;
}

.s_block{
    display: block;
}

/* styling for specific card views */

#editable_card_overview{
    margin-top: 2%;
}

#create_card_overview{
    padding-bottom: 15%;
}

#create_deck_overview{
    padding-bottom: 25%;
}

#editable_deck_overview{
    padding-bottom: 40%;
}

#static_deck_overview{
    padding-bottom: 30%;
}

/* container for body elements */

#homescreen_element_wrapper{
    min-width: 50%;
    max-width: fit-content;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.homescreen_chart{
    color: black;
    padding: 5%;
    font-size: 600%;
    margin-right: 5%;
}

/* buttons with deck names */

.menu_flashcard{
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1%;
    padding: 2%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
    transition: all 0.5s ease-out;
}

.menu_flashcard:hover{
    background-color: #505050;
    border: solid 2px #282828;
}

.menu_flashcard.selected:hover{
    background-color: #505050;
    border: solid 2px #282828;
}

.menu_flashcard.selected:active{
    background-color: #068489;
    border: solid 2px #045154;
    color: #ffff;
}

.menu_flashcard.selected{
    background-color: #068489;
    border: solid 2px #045154;
    color: #ffff;
}


/* headers & other text styling */

.header_text{
    font-weight: bold;
    font-size: larger;
}

#card_creator_header{
    margin-bottom: 2%;
}

.deck_overview_button_wrapper{
    display: inline-flex;
    margin-top: 5%;

}

.deck_description{
    word-break: break-word;
}

/* positioning of texts on cards */
.ov_span{
    float: left;
    clear: left;
    padding-top: 2%;
}


/* spaces input text fields for creators and editors */

.input_spacer{
    margin-bottom: 1%;
    margin-top: 1%;
}


/* separator between header and footer content*/

.card_info_header{

    text-align: center;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #505050;
}

.source_word{
    float:left;
    display: inherit;
}

.target_pinyin{
    display: inherit;
}

.target_word{
    float:right;
    display: inherit;
}

.header_span{
    width: auto;
}

.edit_span{
    width: fit-content;
}

.editable_card_info_header{
    text-align: left;
}

@media only screen and (max-width: 1600px){

    #create_card_overview{
        padding-bottom: 15%;
    }

    #create_deck_overview{
        padding-bottom: 40%;
    }

    #editable_deck_overview{
        padding-bottom: 45%;
    }

    #static_deck_overview{
        padding-bottom: 35%;
    }
}

@media only screen and (max-width: 1300px){

    #create_deck_overview{
        padding-bottom: 35%;
    }

    #editable_deck_overview{
        padding-bottom: 55%;
    }

    #static_deck_overview{
        padding-bottom: 40%;
    }
}

@media only screen and (max-width: 1100px){


    #homescreen_element_wrapper{
        margin-top: 10%;
        min-width: 85%;
    }


    .homescreen_chart{
        font-size: 500%;
    }

    #create_deck_overview{
        padding-bottom: 25%;
    }

    #editable_deck_overview{
        padding-bottom: 45%;
    }

    #static_deck_overview{
        padding-bottom: 33%;
    }

}

@media only screen and (max-width: 900px){
    .target_pinyin{
        margin-right: 1%;
    }
    #static_deck_overview{
        padding-bottom: 40%;
    }

    #create_deck_overview{
        padding-bottom: 33%;
    }

    #editable_deck_overview{
        padding-bottom: 60%;
    }
}

@media only screen and (max-width: 600px){
    .source_word{
        float: left;
        margin-right: 1%;
    }
    .target_pinyin{
        float: left;
    }
    .target_word{
        float: left;
    }


    #homescreen_element_wrapper{
        margin-top: 15%;
        min-width: 90%;
    }

    .homescreen_chart{
        font-size: 300%;
    }

    #create_card_overview{
        padding-bottom: 20%;
    }

    #create_deck_overview{
        padding-bottom: 45%;
    }

    #editable_deck_overview{
        padding-bottom: 70%;
    }

    #static_deck_overview{
        padding-bottom: 50%;
    }

}

/************
// END of dashboard.component.css
//************/
