<!--
File: dashboard.component.html
Author: Darian Krummrich

This file contains the dashboard view, which you will see upon logging in.
Included are the following functionalities:
- the statistics
- all deck names
- the deck information
- editor for existing deck
- editor for new deck
- showing all cards of a deck
- editor for existing card
- editor for new card

Requires the following files:

headerbar.component.css
headerbar.component.html
headerbar.component.specs.ts
headerbar.component.ts

audioplayer.component.css
audioplayer.component.html
audioplayer.component.specs.ts
audioplayer.component.ts

dashboard.component.css
dashboard.component.specs.ts
dashboard.component.ts
-->

<!-- Includes the header -->
<app-headerbar></app-headerbar>
<!-- includes the music player -->
<app-audioplayer></app-audioplayer>



<div id="homescreen_element_wrapper">
    <!-- Welcome message -->
    <h1 *ngIf="currentUser"> {{"welcome_back" | transloco}}, {{currentUser.userName}}!</h1>
    <h1 *ngIf="!currentUser"> {{"welcome_back" | transloco}}!</h1>
    <!-- Learning statistics -->
    <div class="s_card_wrapper s_flex">
        <div class="homescreen_chart" id="bar_chart"><i class="bi bi-bar-chart" Alt="Bar chart"></i></div>
        <div class="homescreen_chart" id="pie_chart"><i class="bi bi-pie-chart" Alt="Pie chart"></i></div>
    </div>

    <!-- Overview of all deck names & option to create new deck -->
    <div class="s_card_wrapper s_flex">
        <div class="menu_flashcard" id="add_menu_flashcard" (click)="toggleNewDeckCreator(); hideDecks(); hideCards(); hideNewCardCreator()"><i class='bi bi-plus' Alt="Add deck icon"></i> {{"add_deck" | transloco }}</div>
        <div class="menu_flashcard" *ngFor="let deck of decks" (click)="onSelectDeck(deck); hideNewDeckCreator()"  [class.selected]="deck === selectedDeck">{{deck.deckName}}</div>
    </div>

    <!-- Editor when creating a new deck -->
    <div *ngIf="showNewDeckCreator">
        <div class="s_card_wrapper s_block" id="create_deck_overview">
            <span class="header_text ov_span">{{"add_new_deck" | transloco}}</span>
            <span class="ov_span"><input id="new_deck_name" placeholder="Name" #deckName/></span>
            <span class="ov_span"><input id="new_deck_description" placeholder="Description" #deckDescription /></span>
            <span class="ov_span">
                <button class="s_button blue_button button_in_span" id="add_deck" (click)="addDeck(deckName.value, deckDescription.value); deckName.value=''; deckDescription.value=''; toggleNewDeckCreator()">{{"add_deck" | transloco }}</button>
            </span>

        </div>
    </div>

    <!-- When clicking on a deck name, their information appears -->
    <!--  -->
    <div *ngIf="selectedDeck">
        <div class="s_card_wrapper s_block" id="static_deck_overview" *ngIf="!showDeckEditor">
            <span class="header_text ov_span" (click)="toggleDeckEditor()">{{selectedDeck.deckName}}</span>
            <span class="deck_description ov_span" (click)="toggleDeckEditor()">{{selectedDeck.deckDescription}}</span>
            <span class="deck_created ov_span"> {{"created_on" | transloco}}: {{selectedDeck.createdAt | date: 'dd/MM/yyyy'}} </span>
            <span class="deck_edited ov_span"> {{"last_edited_on" | transloco}}: {{selectedDeck.lastRevised | date: 'dd/MM/yyyy'}}</span>
            <span class="ov_span">
                <div class="deck_overview_button_wrapper">
                    <div class="s_button gray_button" *ngIf="!showCards"(click)="onShowCards(selectedDeck); hideNewCardCreator()">{{"show_cards" | transloco}}</div>
                    <div class="s_button gray_button" *ngIf="showCards" (click)="onShowCards(selectedDeck); hideCardEditor(); ; hideNewCardCreator()">{{"hide_cards" | transloco}}</div>
                    <nav>
                        <a routerLink="/session">
                            <div class="s_button blue_button" id="link_button">{{"start_session" | transloco}}</div>
                        </a>
                    </nav>
                </div>
            </span>

        </div>

        <!-- When clicking on the name or description of the static deck overview, you can edit the deck information -->
        <div class="s_card_wrapper s_block" id="editable_deck_overview" *ngIf="showDeckEditor">
            <span class="header_text ov_span">{{"deck_editor" | transloco}}  </span>
            <span class="header_text ov_span"><input id="new_deck_name" [(ngModel)]="selectedDeck.deckName" placeholder="name"></span>
            <span class="deck_description ov_span"><input id="new_deck_description" [(ngModel)]="selectedDeck.deckDescription" placeholder="description"></span>
            <span class="deck_created ov_span"> {{"created_on" | transloco}}: {{selectedDeck.createdAt | date: 'dd/MM/yyyy'}} </span>
            <span class="deck_edited ov_span"> {{"last_edited_on" | transloco}}: {{selectedDeck.lastRevised | date: 'dd/MM/yyyy'}}</span>
            <span class="button_divider ov_span"></span>
            <span class="ov_span">
                <div class="deck_overview_button_wrapper">
                    <div class="s_button gray_button" id="edit_return" (click)="toggleDeckEditor(); hideNewCardCreator()">{{"hide_editor" | transloco}}</div>
                    <div class="s_button gray_button" id="edit_show" *ngIf="!showCards" (click)="onShowCards(selectedDeck); hideNewCardCreator()">{{"show_cards" | transloco}}</div>
                    <div class="s_button gray_button" id="edit_hide" *ngIf="showCards" (click)="onShowCards(selectedDeck); hideCardEditor()">{{"hide_cards" | transloco}}</div>
                    <div class="s_button blue_button" id="edit_start">{{"start_session" | transloco}}</div>
                </div>
            </span>
        </div>
    </div>

    <!-- When showing cards and clicking on "add new card", you can enter all information for a new card.
         Requires meaning, pronunciation and characters, but not example sentence.
    -->
    <div *ngIf="showNewCardCreator && selectedDeck">
        <div class="s_card_wrapper s_block" id="create_card_overview">
            <div class="card_information">
                <span class="header_text ov_span" id="card_creator_header">{{"add_new_card" | transloco }}</span>
                <div class="card_info_header">
                    <div class="source_word input_spacer" id="create_a"> <input id="new_card_meaning" placeholder="Meaning" #meaning></div>
                    <div class="target_pinyin input_spacer" id="create_b"> <input id="new_card_pronunciation" placeholder="Pronunciation" #pronunciation> </div>
                    <div class="target_word input_spacer" id="create_c"> <input id="new_card_characters" placeholder="Characters" #characters></div>
                </div>
                <div class="target_sentence edit_span input_spacer"> <input id="new_card_target_sentence" placeholder="Target Sentence" #targetS> </div>
                <div class="source_sentence edit_span input_spacer"> <input id="new_card_target_sentence" placeholder="Source Sentence" #sourceS> </div>
                <span class="ov_span">
                    <button class="s_button blue_button button_in_span"
                            (click)="addCard(selectedDeck, meaning.value, characters.value, pronunciation.value, sourceS.value, targetS.value);
                                    meaning.value=''; pronunciation.value=''; characters.value=''; pronunciation.value=''; sourceS.value=''; targetS.value='';
                                    toggleNewCardCreator()"
                            >{{"add_card" | transloco}}</button>
                </span>
            </div>
        </div>
    </div>


    <!-- When showing cards. Loads all cards belonging to the selected deck with all their information-->
    <div *ngIf="showCards">
        <!-- Option for adding new cards -->
        <div class="s_card_wrapper" (click)="toggleNewCardCreator(); hideCards()"><i class='bi bi-plus' Alt="Add card icon"></i>{{"add_card" | transloco}}</div>

        <!-- Static card overview -->
        <div *ngFor="let card of cards" (click)="onSelectCard(card)" [class.selected]="card === selectedCard">
            <div class="s_card_wrapper" *ngIf="!showCardEditor">
                <div class="card_information" (click)="toggleCardEditor()">
                    <div class="card_info_header">
                        <div class="source_word"> {{card.meaning}} </div>
                        <div class="target_pinyin"> {{card.pronunciation}} </div>
                        <div class="target_word"> {{card.characters}} </div>
                    </div>
                    <div class="target_sentence"> {{card.targetSentence}} </div>
                    <div class="source_sentence"> {{card.sourceSentence}} </div>
                </div>
            </div>

            <!-- Editable card overview, accessible when clicking on any of the static card information -->
            <div class="s_card_wrapper s_block" id="editable_card_overview" *ngIf="showCardEditor && selectedCard">
                <div *ngIf="card === selectedCard">
                    <div class="small_block card_information">
                        <div class="editable_card_info_header card_info_header">
                            <div class="header_span input_spacer"> <input id="new_card_meaning" [(ngModel)]="selectedCard.meaning" placeholder="meaning"></div>
                            <div class="header_span input_spacer"> <input id="new_card_pronunciation" [(ngModel)]="selectedCard.pronunciation" placeholder="pronunciation"> </div>
                            <div class="header_span input_spacer"> <input id="new_card_characters" [(ngModel)]="selectedCard.characters" placeholder="characters"></div>
                        </div>
                        <div class="target_sentence edit_span input_spacer"> <input id="new_card_target_sentence" [(ngModel)]="selectedCard.targetSentence" placeholder="targetSentence"> </div>
                        <div class="source_sentence edit_span input_spacer"> <input id="new_card_target_sentence" [(ngModel)]="selectedCard.sourceSentence" placeholder="sourceSentence"> </div>
                    </div>
                </div>
                <!-- Only show editor of card that was actually clicked on -->
                <div *ngIf="card !== selectedCard">
                    <div class="card_information">
                        <div class="card_info_header">
                            <div class="source_word"> {{card.meaning}} </div>
                            <div class="target_pinyin"> {{card.pronunciation}} </div>
                            <div class="target_word"> {{card.characters}} </div>
                        </div>
                        <div class="target_sentence"> {{card.targetSentence}} </div>
                        <div class="source_sentence"> {{card.sourceSentence}} </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


<!--
  END of dashboard.component.html
-->
