/*
File: dashboard.component.css
author: Darian Krummrich

*/

.s_button{
    border-radius: 20px;
    margin-top: 2%;
    margin-right: 2%;
    padding: 10%;
    text-align: center;
    align-items: center;
    background-color: #068489;
    color: #ffff;
    transition: all 0.5s ease-out;
}



.blue_button{
    background-color: #068489;
    color: #ffff;
}

.blue_button:hover{
    background-color: #045154;
}

.gray_button{
    background-color: #505050;
}

.gray_button:hover{
    background-color: #282828;
}

.button_in_span{
    padding: 25%;
}

#link_button{
    width: fit-content;
    padding: 25%;
}

a:link{
    text-decoration: none;
}

.s_card_wrapper{
    display: flex;
    min-width: 75%;
    border-radius: 20px;
    padding: 5%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
    margin-bottom: 1%;
}


#homescreen_element_wrapper{
    min-width: 25%;
    max-width: fit-content;
    margin: auto;
    margin-top:5%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    /*border: solid 2px #505050;*/
}

#homescreen_overview{
    display: flex;
    width: auto;
    border-radius: 20px;
    padding: 5%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
    margin-bottom: 1%;
}

.homescreen_chart{
    color: black;
    padding: 5%;
    font-size: 600%;
    margin-right: 5%;
}

#card_wrapper{
    display: flex;
    border-radius: 20px;
    padding: 2%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
}

.menu_flashcard{
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1%;
    padding: 2%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
    transition: all 0.5s ease-out;
}

.menu_flashcard:hover{
    background-color: #505050;
    border: solid 2px #282828;
}

.menu_flashcard.selected:hover{
    background-color: #505050;
    border: solid 2px #282828;
}

.menu_flashcard.selected:active{
    background-color: #068489;
    border: solid 2px #045154;
    color: #ffff;
}

.menu_flashcard.selected{
    background-color: #068489;
    border: solid 2px #045154;
    color: #ffff;
}

.static_deck_overview{
    display: block;
    height: max-content;
    border-radius: 20px;
    margin-top: 5%;
    padding: 5%;
    padding-bottom: 45%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
}

.editable_deck_overview{
    display: block;
    height: max-content;
    border-radius: 20px;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 60%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
}

.create_deck_overview{
    display: block;
    height: max-content;
    border-radius: 20px;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 35%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
    
}


#creator_header{
    font-weight: bold;
    font-size: larger;
}


.deck_description{
    word-break: break-word;
}

.ov_span{
    float: left;
    clear: left;
    padding-top: 2%;
}

.add_card{
    height: max-content;
    border-radius: 20px;
    margin-top: 5%;
    padding: 5%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
}

#editor_header{
    font-weight: bold;
    font-size: larger;
}

.deck_overview_button_wrapper{
    display: inline-flex;
    margin-top: 5%;

}

.deck_name{
    font-weight: bold;
    font-size: large;
}

.static_card_overview{
    height: max-content;
    border-radius: 20px;
    margin-top: 5%;
    padding: 5%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
}

.editable_card_overview{
    height: max-content;
    border-radius: 20px;
    margin-top: 5%;
    padding: 5%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
}

.create_card_overview{
    height: max-content;
    border-radius: 20px;
    margin-top: 5%;
    padding: 5%;
    padding-bottom: 12%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
}

.create_input{
    margin-bottom: 1%;
    margin-top: 1%;
}

#card_creator_header{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2%;
}


.card_info_header{

    text-align: center;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #505050;
}

.source_word{
    float:left;
    display: inherit;
}

.target_pinyin{
    display: inherit;
}

.target_word{
    float:right;
    display: inherit;
}

.header_span{
    width: auto;
}

.edit_span{
    width: fit-content;
}

#edit_start{
    align-self: center;
    text-align: center;
    padding: 10%;
}

@media only screen and (max-width: 600px){
    #homescreen_element_wrapper{
        margin-top: 15%;
    }

    .homescreen_chart{
        font-size: 300%;
    }
}