<div class="vertical-flex">
<div style="flex-grow: 1;">
  <app-character-animation></app-character-animation>
</div>
<div id="main-wrap">
  <div class="logo">
      <div>
          <img id="login_han" src="assets/han_icon.png" alt="Logo">
      </div>
      <div id="welcome-message">{{'signin' | transloco}}</div>
  </div>
  <div class="section">
      <div id="form-wrap">
          <form [formGroup]="form">
              <label for="username">{{'username' | transloco}}</label><br>
              <input class="input" type="text" id="username" name="username" formControlName="username"><br>
              <div id="password-labels-flex">
                  <div><label for="password">{{'password' | transloco}}</label></div>
                  <div id="forgot-password"><a routerLink="/passwordreset">{{'forgotpassword'| transloco}}</a></div>
              </div>
              <br>
              <input type="password" id="password" name="password" formControlName="password">
              <br>
          </form>
          <div id="login" (click)="login()">{{'login' | transloco}}</div>
          <div *ngIf="loginFailed" class="error-message">{{'incorrect_password' | transloco}}</div>
      </div>
  </div>

  <div class="section" routerLink="/register">{{'noaccount' | transloco}} <a>{{'signuphere' | transloco}}</a></div>
  <div class="center-div"><app-languagesetter></app-languagesetter></div>
</div>


<div style="flex-grow: 1;">
  <app-character-animation></app-character-animation>
</div>
</div>
