<div class="vertical-flex">
  <div style="flex-grow: 1;">
    <app-character-animation></app-character-animation>
  </div>
  <div id="main-wrap">
    <div class="logo">
        <div>
            <img id="login_han" src="assets/han_icon.png" alt="Logo">
        </div>
        <div id="welcome-message">{{"reset_password_welcome_message" | transloco}} </div>
    </div>
    <div class="section">
        <div>{{"reset_password_info" | transloco}}</div>
        <div id="form-wrap">
          <form [formGroup]="form">
            <input class="input" type="text" placeholder="{{'enter_email' | transloco}}" id="input" name="email" formControlName="email"><br>
        </form>
        <div id="button" (click)="resetPassword()">{{"reset" | transloco}}</div>
        </div>
    </div>

    <div class="section"><a routerLink="/login">{{"back_to_login" | transloco}}</a></div>
    <div class="center-div"><app-languagesetter></app-languagesetter></div>
  </div>


  <div style="flex-grow: 1;">
    <app-character-animation></app-character-animation>
  </div>
  </div>
