<!--
 File: forgotpassword.component.html
 This file contains the HTML div for forgot-password view.
 Author: Gabor Szolnok


 Requires the following files:
 forgotpassword.component.css
 forgotpassword.component.ts
 forgotpassword.component.spec.ts
 -->
<div class="vertical-flex">
  <!--A container div that adjusts to the changing size of the character animation-->
  <div style="flex-grow: 1;">
    <app-character-animation></app-character-animation>
  </div>
  <!--Wrapper div for the main content of the page-->
  <div id="main-wrap">
    <!--Logo and the welcome message-->
    <div class="logo">
        <div>
            <img id="login_han" src="assets/han_icon.png" alt="Logo">
        </div>
        <div id="welcome-message">{{"reset_password_welcome_message" | transloco}} </div>
    </div>
    <!--The div that contains the form for the forgot password as well as the button-->
    <div class="section">
        <div>{{"reset_password_info" | transloco}}</div>
        <div id="form-wrap">
          <form [formGroup]="form">
            <input class="input" type="text" placeholder="{{'enter_email' | transloco}}" id="input" name="email" formControlName="email"><br>
        </form>
        <!--Activate resetPassword when clicked on (empty function)-->
        <div id="button" (click)="resetPassword()">{{"reset" | transloco}}</div>
        </div>
    </div>

    <!--Return to home page if clicked on this text-->
    <div class="section"><a routerLink="/login">{{"back_to_login" | transloco}}</a></div>
    <div class="center-div"><app-languagesetter></app-languagesetter></div>
  </div>

  <!--A container div that adjusts to the changing size of the character animation-->
  <div style="flex-grow: 1;">
    <app-character-animation></app-character-animation>
  </div>
  </div>


<!--
 END of forgotpassword.component.html
-->
