<div class="vertical-flex">
  <div style="flex-grow: 1;">
    <app-character-animation></app-character-animation>
  </div>
  <div id="main-wrap">
    <div class="logo">
        <div>
            <img id="login_han" src="assets/han_icon.png" alt="Logo">
        </div>
        <div id="welcome-message">Reset your password</div>
    </div>
    <div class="section">
        <div>Enter your email <br> and we will send you a reset link</div>
        <div id="form-wrap">
          <form [formGroup]="form">
            <input class="input" type="text" placeholder="Enter your email address" id="input" name="email" formControlName="email"><br>
        </form>
        <div id="button" (click)="resetPassword()">Reset</div>
        </div>
    </div>

    <div class="section"><a routerLink="/login">Back to login</a></div>
  </div>


  <div style="flex-grow: 1;">
    <app-character-animation></app-character-animation>
  </div>
  </div>
