<app-headerbar></app-headerbar>
<div id="save-changes">Save Changes</div>
<div id="main-part">
    <div id="part-selector-wrapper">
        <ul id="part-selector">
            <li *ngFor="let item of settingsProperties" [class.selected]="item.class === 'selected'" id="{{item.name}}" (click)="jumpToSection(item)" style=" cursor: pointer;">{{ item.name | transloco }}</li>
        </ul>

    </div>
    <div id="settings-wrapper" (scroll)="onScroll($event)">
        <div class="section">
            <div class="section-title" id="section-account">{{"account" | transloco}}</div>
            <div class="section-content">
                <form class="settings-form">
                    <label for="username">{{"change_username" | transloco}}</label><br>
                    <input type="text" id="username" name="username" [value]= "username" (input)="onUsernameChange($event.target)" autocomplete="off"><br>

                    <label for="email">{{"change_email" | transloco}}</label><br>
                    <input type="text" id="email" name="email" [value]= "email" autocomplete="off"><br>

                </form>
            </div>
        </div>

        <div class="section">
            <div class="section-title" id="section-password">{{"change_password"| transloco}}</div>
            <div class="section-content">
                <form class="settings-form">
                    <label for="oldpw">{{"old_password"| transloco}}</label><br>
                    <input type="password" id="oldpw" name="password" [value]="oldPassword" autocomplete="off"><br>

                    <label for="newpw">{{"new_password" | transloco}}</label><br>
                    <input type="password" id="newpw" name="password" [value]="newPassword" autocomplete="off"><br>

                    <label for="confirmnewpw">{{"confirm_new_password" | transloco}}</label><br>
                    <input type="password" id="confirmnewpw" name="password" [value]="confirmNewPassword" autocomplete="off"><br>

                </form>
            </div>
        </div>

        <div class="section">
            <div class="section-title" id="section-language">{{"language" | transloco}}</div>
            <div class="section-content" id="language-wrapper">
              <img id="chinese" [className] = "getLanguageImageClass('chinese')" src="assets/flags/chinese.jpg" (click)="onLanguageChange($event)" alt="Chinese Flag">
              <img id="japanese" [className] = "getLanguageImageClass('japanese')" src="assets/flags/japanese.png" (click)="onLanguageChange($event)" alt="Japanese Flag">
              <img id="korean" [className] = "getLanguageImageClass('korean')" src="assets/flags/korean.png" (click)="onLanguageChange($event)" alt="Korean Flag">
            </div>
        </div>

        <div class="section">
            <div class="section-title" id="section-notifications">{{"notifications" | transloco}}</div>
            <div class="section-content notification-container">
              <span>{{"current_mail_address" | transloco}}: {{email}}</span><br>
              <div class="notification-container">
                <label>
                  <input type="radio" name="notification-option" [value]="!receiveNotifications" checked>
                  {{"no_notifications" | transloco}}
                </label><br>
                <label>
                  <input type="radio" name="notification-option" [value]="receiveNotifications">
                  {{"notification_pre" | transloco}} <input type="text" autocomplete="off" [value]="notificationPeriod"> {{"notification_post" | transloco}}.
                </label>
              </div>

            </div>
        </div>

        <div class="section">
            <div class="section-title" id="section-sessions">{{"sessions" | transloco}}</div>
            <div class="section-content notification-container">
              <span>{{"session_length_pre" | transloco}}: <input type="text" autocomplete="off" [value]="sessionLength"> {{"session_length_post" | transloco}}.</span>
            </div>

        </div>

        <div class="section">
            <div class="section-title" id="section-delete">{{"delete_profile" | transloco}}</div>
            <div class="section-content deleteprofile-container">
              <span>{{"delete_profile_warning" | transloco}}</span>
              <span>{{"delete_profile_warning2" | transloco}}</span>
              <div>
                <label for="confirmdelete">{{"enter_password_to_confirm" | transloco}}</label><br>
                <input type="password" id="confirmdelete" name="deleteprofile" autocomplete="off"><br>
                <button class="delete-account-button">{{"confirm_and_delete" | transloco}}</button>

              </div>

            </div>
        </div>
    </div>
</div>
