<app-headerbar></app-headerbar>
<div id="main-part">
    <div id="part-selector-wrapper">
        <ul id="part-selector">
            <li *ngFor="let item of settingsProperties" [class.selected]="item.class === 'selected'">{{ item.name }}</li>
            <div id="delete-profile"> Delete profile</div>
        </ul>

    </div>
    <div id="settings-wrapper" (scroll)="onScroll($event)">
        <div class="section">
            <div class="section-title" id="section-account">Account</div>
            <div class="section-content">
                <form class="settings-form">
                    <label for="username">Change username</label><br>
                    <input type="text" id="username" name="username"><br>

                    <label for="email">Change email</label><br>
                    <input type="text" id="email" name="username"><br>

                </form>
            </div>
        </div>

        <div class="section">
            <div class="section-title" id="section-password">Change password</div>
            <div class="section-content">
                <form class="settings-form">
                    <label for="oldpw">Old password</label><br>
                    <input type="text" id="oldpw" name="username"><br>

                    <label for="newpw">New password</label><br>
                    <input type="text" id="newpw" name="username"><br>

                    <label for="confirmnewpw">Confirm new password</label><br>
                    <input type="text" id="confirmnewpw" name="username"><br>

                </form>
            </div>
        </div>

        <div class="section">
            <div class="section-title" id="section-language">Language</div>
            <div class="section-content"></div>
        </div>

        <div class="section">
            <div class="section-title" id="section-notifications">Notifications</div>
            <div class="section-content"></div>
        </div>

        <div class="section">
            <div class="section-title" id="section-sessions">Sessions</div>
            <div class="section-content"></div>
        </div>

        <div class="section">
            <div class="section-title" id="section-delete">Delete profile</div>
            <div class="section-content"></div>
        </div>
    </div>
</div>
