
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 30px;
  border-bottom: solid 2px;
}

#main-part{
  padding-top: 75px;
  display: flex;
  overflow-y: hidden;
  height: 100%;
}
#part-selector-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  font-size: 30px;
  border-right: solid 2px;
}

#part-selector{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  flex-direction: column;
  position: fixed;
  width: 30%;
}

#delete_profile{
  margin-top: auto;
  color: red;
  font-weight: bold;

}

#delete_profile.selected {
  margin-top: auto;
  background-color: red;
  color: white;
  font-weight: bold;
  animation: deleteSelectedAnimation 0.4s ease-in-out forwards;
}

@keyframes deleteSelectedAnimation{
  from {
    background-color: white;
    color: red;
  }
  to {
    background-color: red;
    color: white;

  }
}

#settings-wrapper{
  width: 80%;
  height: 100%;
}

.section-title{
  border-bottom: solid 2px;
  font-size: 35px;
  padding: 0.5em;
}

.section-content{
  border-bottom: solid 2px;
  padding-left: 1em;
}

.settings-form{
  font-size: 25px;
  margin: 10px 10px 60px;
}

input[type=text], input[type=password]{
  width: 50%;
  height: 50px;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-bottom: 30px;
  margin-top: 5px;
}

.selected{
  background-color: white;
  animation: selectedAnimation 0.4s ease-in-out forwards;

}

@keyframes selectedAnimation{
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: #068489;
    color: white;

  }
}

#language-wrapper{
  padding: 5% 25% 5% 5%;
  height: fit-content;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#language-wrapper img{
  width: 20%;
  border: 2px solid;
  border-radius: 15px;
}

.notification-container{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 15px;
  font-size: 30px;
}

.notification-container input[type=text]{
  width: 5%;
  min-width: 60px;
  font-size: 30px;
  text-align: center;
}


.deleteprofile-container{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 100px;
  font-size: 30px;
}

.delete-account-button {
  width: 50%;
  max-height: fit-content;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
  padding: 1%;
  margin-bottom: 3%;
}

@media (max-width: 880px) {
  #language-wrapper {
    flex-direction: column;
    align-items: center;

  }

  #language-wrapper img {
    margin-bottom: 2%;
  }

  #part-selector-wrapper {
    display: none;
  }

  #settings-wrapper {
    width: 100%;
  }

  input[type=text], input[type=password] {
    width: 90%;
  }

  .delete-account-button{
    width: 90%;
  }
}
