<div id="headerbar">
    <nav>
      <div id="header_logo">
        <a routerLink="/dashboard">
            <img src="assets/han_icon.png" alt="Logo">
        </a>
      </div>
    </nav>

    <div id="header_textcontent"></div>
    <div id="header_menu"><i class="bi bi-list" Alt="Menu" (click)="onClickMenu()"></i></div>
</div>

<div id="menu_selector" *ngIf="UnfoldMenu">
    <nav>
        <div routerLink="/settings" class="settings_nav"> Settings </div>
        <div class="divider"></div>
        <a routerLink="/login">
            <div class="logout_nav">Log out</div>
        </a>
    </nav>

</div>
