#headerbar {
    background-color: #e5e5e5;
    border-bottom: solid 2px #505050;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#header_logo{
    float: left;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
}

#header_textcontent{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-left: 2%;
    padding-top: 1%;
}

#header_menu{
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-right: 2%;
    padding-top: 1%;
}