/*
File: headerbar.component.css
author: Darian Krummrich, editor: Gábor Szolnok
*/
#headerbar {
    background-color: #e5e5e5;
    border-bottom: solid 2px #505050;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#header_logo{
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    height: 20%;
}

#header_logo img{
  width: 10%;
  object-fit: cover;
}

#header_menu{
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 5%;
    width: 5%;
    padding-right: 2%;
    color: black;
    font-size: 300%;
}

/* popup when clicking on header_menu */
#menu_selector{
    position: fixed;
    right: 2%;
    width: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-right: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #e5e5e5;
    border: solid 2px #505050;
    border-radius: 20px;
    font-size: 130%;
    text-decoration-color: black;
    z-index: 1;
}

a{
    color: black;
    text-decoration: none;
}



.settings_nav{
    margin-bottom: 20%;
    cursor: pointer;
}

.divider{
    width: 100%;
    border-bottom: solid 2px #505050;
}

.logout_nav{
    margin-top: 20%;
    cursor: pointer;
}

/* selector for language */
#languageset{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* responsive design */
@media only screen and  (max-width: 1200px) {
    #languageset{
        padding-right: 5%;
    }


    #menu_selector{
        margin-top: 5%;
    }
}

@media only screen and  (max-width: 800px) {
    #header_logo img{
        width: 15%;
    }

    #menu_selector{
        margin-top: 10%;
        width: 20%;
    }

    #languageset{
        padding-right: 5%;
    }
}

@media only screen and (max-width: 400px){
    #header_logo img{
        padding-top: 3%;
        width: 35%;
    }

    #header_menu{
        padding-right: 5%;
    }

    #languageset{
        padding-right: 15%;
    }

    #menu_selector{
        width: 80%;
    }

    .settings_nav{
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .logout_nav{
        margin-top: 10%;
        margin-bottom: 5%;
    }

}

/************
// END of headerbar.component.css
//************/
