/*
  File: register.component.css

  CSS styling for the register component.
  Since we didn't know it could've been injected from a parent,
  this is a duplicate to forgotpassword/login

  Author: Gabor Szolnok
 */

 /*Main vertical flexbox for the whole view*/
.vertical-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  width: 100%;
}

/*Links are blue*/
a{
  color: #068489;
}

/*Links change color when clicked on*/
a:hover{
  color: #03595c;
}

/*Make input texts bigger and more appealing*/
input[type=text], input[type=password]{
  width: 100%;
  border-radius: 5px;
  height: 40px;
  border: solid 1px;
  font-size: x-large;
}

label{
  text-align: left;
  float: left;
  margin-top: 10px;
}

/*Logo is centered*/
.logo{
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

/*Logo image was too huge, need to shrink it*/
#register_han{
  width: 25%;
}

#welcome-message{
  font-size: 30px;
}

/*The main container, resizing it to make it appealing*/
#main-wrap{
  width: 60%;
  max-width: 650px;
  min-width: 260px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/*One section (there are two)*/
.section{
  background-color: #e5e5e5;
  border: solid 2px #505050;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

/*Styling for the password text label*/
#password-labels-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-end;
}

/*Wrapper for the reminder*/
#reminder-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


/*Try to make the radiobutton larger, chatGPT generated*/
#reminder{
  transform: scale(2);
  margin-top: 15px;
}

/*Register button (copied from the login css)*/
#login{
  width: auto;
  height: fit-content;
  margin-top: 20px;
  padding: 5px;
  background-color: #068489;
  border-radius: 10px;
  color: white;
}

#login:hover{
  background-color: #03595c;
}

#form-wrap{
  margin: auto;
  padding: 0 30px 0px 30px;
  width: auto;
}

.error-message{
color: red;
}

/*General div for a centered row-wise flexbox*/
.center-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/************
// END of register.component.css
//************/
